html,
body {
    background-color: #dfefe2;
}

.deaths_text {
    color: #000000;
    font-weight: bold; 
}




.pure-u-1 img {
    width: 35vw;
    margin-left: 630px;
    margin-right: 1000px;
    height: 7vw;
}

.pure-u-1-3 {
    margin-top: 10px;
    width: 30vw;
    margin-left: 110px;


}

.pure-u-1-3 text {
    margin-top: 10px;
    width: 30vw;
    margin-left: 100px;


}

.pure-u-2-3 {
    margin-top: 10px;
    width: 60vw;


}

.pure-u-1-2 text {
    margin-top: 10px;
    margin-left: 200px;
    width: 50vw;
    
}

.pure-u-1-2 {
    margin-top: 10px;
    width: 40vw;
    height: 20vw;
    margin-left: 100px;
    }

    .pure-u-1-4 {
        margin-top: 10px;
        width: 16vw;
        height: 20vw;
        margin-left: 100px;
        margin-right: 10px;
        }

    

h1 {
    text-align: center;
    color: #3f4144;
    font-size: 60px;
}

h4 {
    text-align: left;
    color: #3f4144;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 60px;
    
}

p {text-align: left;
    color: #3f4144;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 10px;}

h2 { text-align: left;
    color: #3f4144;
    font-size: 35px;
margin left: 100px;}
