/*selectors in HTML*/


h1 {
    font-family: 'Lora', serif;
}

h2 { 
    font-family: 'Lora', serif;
}


p { 
    font-family: 'Montserrat', sans-serif;
}

h3 { 
    font-family: 'Montserrat', sans-serif;
}

h4 {font-family: 'Montserrat', sans-serif;}